<div class="list-group mt-3">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Class for <%= @course.title%> Created</h5>
    </div>
    <p class="mb-1"><%= @course.description%></p>
    <small>Start Date:<%= @course.start_date%> </small>
    <small>End Date:<%= @course.end_date%> </small>
  </a>
  <table class="table">
    <thead>
      <tr>

        <th scope="col">Student Name</th>
        <th scope="col">Telephone</th>
        <th scope="col">email</th>
      </tr>
    </thead>
    <tbody>
  <% @users.each do |user| %>
  <tr>

    <td><%= user.full_name %></td>
    <td><%= user.telephone %></td>
    <td><%= user.email %></td>
  </tr>

  <% end %>
</tbody>
</table>
</div>
  
