<h1>Material   </h1>
<div class='container' style="width: 50%">
  <%= simple_form_for [@topic, @material],html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :instructions %>
  <%= f.input :file_link, as: :file %>
  <%= f.submit %>
  <% end %>
</div>

<% @materials.each do |material| %>
<div >
  <%= link_to material.topic.title, material_path(material) %>
  Topic Name:             <%=material.topic.title%><br>   |
  Material Title:         <%= material.title.titleize%><br>
  Material Description:   <%= material.description%><br>
  Material Instruction:   <%= material.instructions%><br>
  <%= image_tag material.file_link.url(:large) if material.file_link.present? %>



  <p><strong>Created At:</strong> <%= time_ago_in_words(material.created_at) %> ago</p>

  <%= link_to(
    'Delete',
    material_path(material),
    data: {confirm: 'Are you sure?'},
    method: :delete
    ) %>
    <%end%>
