<div class='container mt-5' style="width: 90%">
<h3>List of Topic   </h3>

<div class="jumbotron   mt-4">
  <h1 class="display-6"><%=@topic.title %></h1>
  <p class="lead"><%=@topic.description %></p>
  <hr class="my-6">
  <p>No. Of Hrs:<%=@topic.no_of_hours_required  %><br> % Completed: <%=@topic.percentage_completed  %></p>
    <% if current_user.is_admin? %>
  <smal class="pull-right">
    <%= link_to(
      'Add Material',
      new_topic_material_path(@topic)

      ) %> &nbsp;|&nbsp;
    <%= link_to('Delete',material_path(@topic),data: {confirm: 'Are you sure?'},method: :delete) %>


  </small >
<%end%>
</div>
List of Material in Topic:

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Instructions</th>
      <th scope="col">Link</th>
        <% if current_user.is_admin? %>
      <th scope="col">Delete</th>
      <%end%>
    </tr>
  </thead>
  <tbody>
<% @materials.each do |material| %>
      <tr>
        <th scope="row"></th>
        <td><%= link_to material.title.titleize, material_path(material) %></td>
        <td><%= material.description%></td>
        <td><%= material.instructions%></td>
        <td><%= material.url_link%></td>
  <% if current_user.is_admin? %>
        <td><%= link_to(
          'Delete',
          material_path(material),
          data: {confirm: 'Are you sure?'},
          method: :delete
          ) %></td>
          <%end%>
      </tr>


    <%end%>
  </tbody>
</table>
</div>
