<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>



<%= simple_form_for @user,html: { class: 'form-horizontal' } do |f| %>
<%= f.input :email, label: 'Email' %>
<%= f.input :first_name, label: 'First Name' %>
<%= f.input :last_name, label: 'Last Name' %>
<%= f.input :about_me %>
<%= f.input :telephone %>
<%= f.input :password %>
<%= f.input :password_confirmation %>

<%= f.submit class: 'btn btn-primary' %>
<% end %>


