<div width='50%'>
  <h3><%= @course.title %></h3>
  <p><%= @course.description %></p>
  <p><strong>Start Date:</strong> <%= @course.start_date %></p>
  <p><strong>End Date:</strong> <%= @course.end_date %></p>

  <%= link_to(
    'Delete',
    course_path(@course),
    data: {confirm: 'Are you sure?'},
    method: :delete
    ) %>
    <%= link_to(
      'Add Topic',
      new_course_topic_path(@course)
      ) %>
    <div class='container' style="width: 50%">
      <h3>Topics Covered</h3>

    </div>
    <p>
      <div >
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Hrs Required</th>
              <th scope="col">% Complete</th>

            </tr>
          </thead>
          <tbody>
            <tr>
<!--  place holder for form-->
            </tr>

            <% @topics.each do |topic| %>
            <tr>
              <th scope="row"><%= topic.id%></th>
              <td><%= link_to topic.title, topic_path(topic) %></td>
              <td><%= topic.description%></td>
              <td><%= topic.no_of_hours_required%></td>
              <td><%= topic.percentage_completed%></td>
              <td><%= link_to(
                'Delete',
                topic_path(topic),
                data: {confirm: 'Are you sure?'},
                method: :delete
                ) %></td>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
