<div class="list-group mt-3">
  <a href=" " class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= @course.title%></h5>
    </div>
    <p class="mb-1"><%= @course.description%></p>
    <small>Start Date:<%= @course.start_date%> </small>
    <small>End Date:<%= @course.end_date%> </small><br>
  </a>
</div>
  <% if current_user.is_admin? %>
<div class='pull-right'>
  <%= link_to(
    'Add Topic',
    new_course_topic_path(@course)
    ) %> &nbsp;|&nbsp;
    <%= link_to(
      'Delete',
      course_path(@course),
      data: {confirm: 'Are you sure?'},
      method: :delete
      ) %>

    </div>
    <%end%>
    <div class='container mt-3' style="width: 90%">
      <h3>Topics Covered</h3>

    </div>
    <p>
      <div >
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Hrs Required</th>
              <th scope="col">% Complete</th>

            </tr>
          </thead>
          <tbody>


            <% @topics.each do |topic| %>
            <tr>
              <th scope="row"><%= topic.id%></th>
              <td><%= link_to topic.title, topic_path(topic) %></td>
              <td><%= topic.description%></td>
              <td><%= topic.no_of_hours_required%></td>
              <td><%= topic.percentage_completed%></td>
                <% if current_user.is_admin? %>
              <td><%= link_to(
                'Delete',
                topic_path(topic),
                data: {confirm: 'Are you sure?'},
                method: :delete
                ) %></td>
                <%end%>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
