<div width='50%'>
<h1><%= @course.title %></h1>

<p><%= @course.description %></p>

<%# `&.` is the safe navigation operator. It can be used to avoid
"undefined method `...' for nil:NilClass" errors. When used instead of `.`,
it will check the object before it before trying to execute the method after
it. If the object is `nil`, then it will immediately return `nil`.
%>

<p><strong>Start Date:</strong> <%= @course.start_date %></p>
<p><strong>End Date:</strong> <%= @course.end_date %></p>

<%= link_to(
  'Delete',
  course_path(@course),
  data: {confirm: 'Are you sure?'},
  method: :delete
  ) %>
<div class='container' style="width: 50%">
  <h2>Topics Covered</h2>
  <%= simple_form_for [@course, @topic],html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :no_of_hours_required %>
  <%= f.input :percentage_completed %>
  <%= f.submit %>
  <% end %>
</div>
<p>
  <% @topics.each do |topic| %>
  <div >
    <%= link_to topic.title, topic_path(topic) %>


    <p><strong>Created At:</strong> <%= time_ago_in_words(topic.created_at) %> ago</p>
    <% if can? :manage, topic %>
    <%= link_to(
      'Delete',
      topic_path(topic),
      data: {confirm: 'Are you sure?'},
      method: :delete
      ) %>
      <%end%>
      <%end%>
</div>
