
<div class="jumbotron   mt-4">
  <%= image_tag @material.file_link.url(:large) if @material.file_link.present? %>
  <h1 class="display-3"><%=@material.title %></h1>
  <p class="lead"><%=@material.description %></p>
  <hr class="my-4">
  <p><%=@material.instructions  %></p>


  <p><a href="<%= @material.url_link%>" target="_blank" ><%= @material.url_link%></a></p>

  <p class="lead pull-right">
    <%= link_to('Delete',material_path(@material),data: {confirm: 'Are you sure?'},method: :delete) %>
  </p>
</div>
