<!DOCTYPE html>
<html>
<head>
  <title>Cms</title>
  <link rel="shortcut icon" href="/path_to_your_pic"/>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <% if controller.controller_name == "welcome" && controller.action_name == "index" %>
  <div class="container-fluid  parallax" id="welcome2">
    <nav class="navbar navbar-expand-md navbar-dark " style="height: 75px; background: linear-gradient(#4f3222  , transparent);">
  <% else %>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary" style="background-color:white" >
  <% end %>
      <a class="navbar-brand" style="color: #fff;">CMS</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-right navbar-right">
          <li class="nav-item active">
            <%= link_to('Home', root_path,class: "nav-link") %>
          </li>

          <% if user_signed_in? %>



          <li class="nav-item active">
            <%= link_to 'Courses', courses_path,class: "nav-link" %>
          </li>
          <% if current_user.is_admin? %>
          <li class="nav-item active">
            <%= link_to 'Classes',cohorts_path,class: "nav-link" %>
          </li>

          <li class="nav-item active">
            <%= link_to 'New Class  ', new_cohort_path,class: "nav-link" %>
          </li>

          <li class="nav-item active">
            <%= link_to 'New Courses', new_course_path,class: "nav-link" %>
          </li>
          <%end%>
          <li class="navbar-text  ">
            <span>Hello, <%= current_user.first_name %> <%= current_user.last_name %></span>
          </li>
          <li class="nav-item active">
            <%= link_to 'Sign Out',session_path, method: :delete, class: "nav-link" %>
          </li>
          <% else %>
          <li class="nav-item active">
            <%= link_to 'Sign Up',new_user_path,class: "nav-link" %>
          </li>

          <li class="nav-item active">
            <%= link_to 'Sign In',new_session_path, class: "nav-link" %>
          </li>
          <% end %>
        </ul>
      </div>
      </nav>
      <% if controller.controller_name != "welcome" && controller.action_name != "index" %>
        <div class="container">
        <% end%>
        <% if flash[:notice].present? %>
        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= flash[:notice] %>
        </div>
        <% end %>
        <% if flash[:alert].present? %>
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= flash[:alert] %>
        </div>
        <% end %>
        <%= yield %>
        <% if controller.controller_name != "welcome" && controller.action_name != "index" %>
      </div>
      <% end%>

      <%=render 'layouts/footer'%>



    </body>
    </html>
